

.Header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
}

.img-logo {
    margin-top: 7px;
    width: 230px;
    height: 46px;
    margin-left: 20px;
}

.gobackButton {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 52px;
    color: #000000;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

.gobackButton .left-arrow{
    width: 24px;
    height: 14px;
    padding-right: 9px;
}

.gobackButton a:active, a:link, a:visited, a:focus{
    color: #000000;
}

.signup {
    border: 1.5px solid #555555;
    box-sizing: border-box;
    height: 35px;
    padding: 4px 25px;
    font-weight: bold;
    margin-right: 22px;
    margin-top: 10px;
    color: #555555;
}

.signup a {
    line-height: 25px;
}